tests/fixtures/input_images/Xg_04_post.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/input_images/Xg_05_post.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/input_images/Xg_06_post.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/input_images/Xg_01_post.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/input_images/Xg_02_post.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/input_images/Xg_03_post.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/leaf_area_binaries/Xg_02_post_leaf_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/leaf_area_binaries/Xg_03_post_leaf_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/leaf_area_binaries/Xg_04_post_leaf_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/leaf_area_binaries/Xg_05_post_leaf_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/leaf_area_binaries/Xg_06_post_leaf_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/leaf_area_binaries/Xg_01_post_leaf_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/lesion_area_binaries/Xg_01_post_lesion_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/lesion_area_binaries/Xg_02_post_lesion_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/lesion_area_binaries/Xg_03_post_lesion_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/lesion_area_binaries/Xg_04_post_lesion_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/lesion_area_binaries/Xg_05_post_lesion_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/output_images/lesion_area_binaries/Xg_06_post_lesion_area_binary.jpeg filter=lfs diff=lfs merge=lfs -text
